/*HTML "SET UP"*/
html {
	scroll-behavior: smooth;
  }

/*=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE===== */

.navbar {
	position: fixed;
	width: 100%;
	/*display: flex;
	justify-content: space-around; */
	overflow: hidden;
	background-color: #55CBCD;
	font-family: inherit;
	z-index: 9999;
}

	/* Links inside the navbar */
.navbar a{
	font-size: 20px;
	padding: 10px 0px 10px 0px;
	float: left;
	color: white;
	text-align: center;
	text-decoration: none;
	width: 25%;
}

/* The dropdown container */
.dropdown {
	overflow: hidden;
}



/* Dropdown button */
.dropdown .dropbtn {
	width: 100%;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
	border: none;
	outline: none;
	color: white;
	background-color: #55CBCD;
	font-family: inherit;
	margin: 0;
	z-index: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: white;
	color: #55CBCD;
	/*box-shadow: -4px 8px 16px 0px rgba(0,0,0,0.2);  shadow on hover [DISABLED]*/
}


/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: fixed;
	background-color: white;
	
	z-index: 9999;
	text-align:center;
	width: 100%;
}


/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: black;
	padding: 10px 10px;
	text-decoration: none;
	display: block;
	text-align: center;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}


/*=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE===== */

/* BODY "META" INFO */
body {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #55CBCD;
	position: center;
}

.contentbackground {
	background: url("background.png") top center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.content{
    padding: 10vh 10vw 10vh 10vw;
    line-height: 1.75;
    background-color: rgba(255, 255, 255, 0.5);
}

.slice{
    width: 50%;
}

.printing{
    width: 50%;
}

.grid1{
    display: grid;
	grid-gap: 10px;
	grid-template-areas:
        'a a b c c d e e';
	
    padding: 10vh 0 10vh 0;
	color: #48301c;
	font-family: inherit;
    
}

.grid1a{
    grid-area: a;
}

.grid1a > img{
    width: 100%;
    padding: 20vh 0 0 0;
}

.grid1b{
    grid-area: b;
}

.grid1b > img{
    width: 100%;
    padding: 20vh 0 0 0;
    transform: scaleX(-1);
}

.grid1c{
    grid-area: c;
}

.grid1c > img{
    width: 100%;
    padding: 20vh 0 0 0;
}

.grid1d{
    grid-area: d;
}

.grid1d > img{
    width: 100%;
    padding: 20vh 0 0 0;
    transform: scaleX(-1);
}

.grid1e{
    grid-area: e;
}

.grid1e > img{
    width: 100%;
}

.step1{
    display: grid;
	grid-gap: 10px;
	grid-template-areas:
        'a a a b';
	
    padding: 10vh 0 10vh 0;
}

.step1 > p{
    grid-area: a;
    margin: 0;
}

.canvas{
    grid-area: b;
    width: 100%;
    
}

.step2{
    display: grid;
	grid-gap: 10px;
	grid-template-areas:
        'f f f f g g'
        'h h h h g g';
	
    padding: 10vh 0 10vh 0;
}

.step2 > p{
    grid-area: f;
    width: 100%;
    margin: 0;
}

.overhang{
    grid-area: h;
    width: 90%;
}

.overhangerror{
    grid-area: g;
    width: 100%;
}

.step2b{
    display: grid;
	grid-gap: 10px;
	grid-template-areas:
        'a a a b c';
	
    padding: 10vh 0 10vh 0;
}

.step2b > p{
    grid-area: a;
    margin: 0;
}

.horsebasesketch{
    grid-area: b;
    width: 100%;
}

.horsebase{
    grid-area: c;
    width: 100%;
}

.step3{
    display: grid;
	grid-gap: 10px;
	grid-template-areas:
        'a a b b c';
	
    padding: 10vh 0 10vh 0;
}

.step3 > p{
    grid-area: a;
    margin: 0;   
}

.horsesketch{
    grid-area: b;
    width: 100%;
}

.horseextrude{
    grid-area: c;
    width: 100%;
}

.step4{
    display: grid;
	grid-gap: 10px;
	grid-template-areas:
        'a a a b c';
	
    padding: 10vh 0 10vh 0;
}

.step4 > p{
    grid-area: a;
    margin: 0;   
}

.horseearplane{
    grid-area: b;
    width: 100%;
}

.horseearloft{
    grid-area: c;
    width: 100%;
}

.step5{
    display: grid;
	grid-gap: 10px;
	grid-template-areas:
        'a a a b b';
	
    padding: 10vh 0 10vh 0;
}

.step5 > p{
    grid-area: a;
    margin: 0;   
}

.horseear{
    grid-area: b;
    width: 100%;
}

.step6{
    display: grid;
	grid-gap: 10px;
	grid-template-areas:
        'a a a b';
	
    padding: 10vh 0 10vh 0;
}

.step6 > p{
    grid-area: a;
    margin: 0;   
}

.horsefillet{
    grid-area: b;
    width: 100%;
}

.step7 > iframe{
    width: 100%;
    height: 70vh;
}

.break1{
    text-align: center;
    margin: 0 0 10vh 0;
}

.grid2{
    display: grid;
	grid-gap: 10px;
	grid-template-areas:
        'a a a b';
    padding: 10vh 0 10vh 0;
}

.grid2 > p{
    grid-area: a;
    margin: 0;
}

.ulticon{
    grid-area: b;
}

.settingsimg1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.settingsimg2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.settingsimg3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.settingsimg4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.settingsimg5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.settingsimg6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.settingsimg7 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.sliced{
    width: 100%;
}

.done{
    text-align: center;
}

.timelapse{
    width: 100%;
}

.finalhorse{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}